#root {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background-color: darkgreen;
    padding: 50px 0 200px;
  }

  .question {
    color: white;
    font-size: 32px;
    font-weight: 700;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'serif';
  }
  
  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0 0 0;
  }
  
  .option-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    max-width: 400px;
    height: 60px;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  .option-button.selected {
    background-color: #f0f0f0;
  }
  
  .option-button.correct {
    background-color: #aaf0aa;
  }
  
  .option-button.incorrect {
    background-color: #ffaaaa;
  }
  
  .result {
    margin-top: 20px;
  }
  