#root {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .option-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .option-button.selected {
    background-color: #f0f0f0;
  }
  
  .option-button.correct {
    background-color: #aaf0aa;
  }
  
  .option-button.incorrect {
    background-color: #ffaaaa;
  }
  
  .result {
    margin-top: 20px;
  }
  